{% extends 'gestionproyectos/base.html' %}
{% block gestion_content %}
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2>Acta {{ actaconstitucion.proyecto }}</h2>
</div>
<div class="card-body">
    <div class="card-text">
        <p>Objetivos de la acta: {{ actaconstitucion.objetivos }}</p>
        <p>Asociado al proyecto: {{ actaconstitucion.proyecto.nombre }}</p>
        <p>Entregables: {{ actaconstitucion.entregables }} </p>
        <p>Justificacion: {{ actaconstitucion.justificacion }}</p>
    </div>
</div>
</div>
</div>
{% endblock gestion_content %}