{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:index' %}">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:interesado_list' %}">Interesados</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:acta_list' %}">Actas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:comunicacion_list' %}">Comunicaciones</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:riesgo_list' %}">Riesgos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:alcance_list' %}">Alcance</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:matriz_interesados' %}">Matriz Interesados</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:hitos' %}">Hitos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:plan_comunicacion' %}">Plan Comunicación</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:adquisicion_list' %}">Adquisiciones</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:feedback_list' %}">Feedback</a></li>
        {% if user.is_superuser or perfil_usuario and perfil_usuario.es_admin %}
        <li class="nav-item"><a class="nav-link" href="{% url 'gestionproyecto:perfil_list' %}">Perfiles</a></li>
        {% endif %}
    </ul>
    {% block gestion_content %}{% endblock %}
</div>
{% endblock content %}