{% extends 'gestionproyectos/base.html' %}
{% block gestion_content %}
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Comunicacion {{ comunicacion.fecha }}</h2>
</div>
<div class="card-body">
    <div class="card-text">
        <p>Observaciones: {{ comunicacion.observaciones }}</p>
        <p>Asociado al proyecto: {{ comunicacion.proyecto.nombre }}</p>
        <p>Interesado: {{ comunicacion.interesado.nombre }} {{ comunicacion.interesado.apellido }}</p>
    </div>
</div>
</div>
</div>
{% endblock gestion_content %}