{% extends 'gestionproyectos/base.html' %}
{% block gestion_content %}
    <h1>Bienvenido al Sistema de Gestión de Proyectos</h1>
    <h2> Proyectos </h2>
    <div class="container">
         <ul>
        {% for interesado in interesado_list %}
        <div class="card m-3">
            <div class="card-title">
                <h2>{{ interesado.nombre | title}}</h2>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" href="{% url 'gestionproyecto:interesado_detail' interesado.slug %}">Ver más...</a>           
            </div>
           
        </div>
           
        {% endfor %}
        </ul>
    </div>
{% endblock gestion_content %}
   
