{% extends 'gestionproyectos/base.html' %}
{% block gestion_content %}
<div class="container-fluid">
    <h1 class="page-title-gad mb-3">Perfil de {{ usuario.username }}</h1>
    <form method="post" class="card card-gad p-3">
        {% csrf_token %}
        {{ form.as_p }}
        {% if puede_editar_rol %}
        <button type="submit" class="btn btn-gad-primary">Guardar</button>
        {% endif %}
        <a href="{% url 'gestionproyecto:perfil_list' %}" class="btn btn-outline-secondary">Volver</a>
    </form>
</div>
{% endblock %}
