{% extends 'gestionproyectos/base.html' %}
{% block content %}
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Proyecto {{ proyecto.nombre }}</h2>
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr>
            <th>Nombre del Proyecto:</th>
            <td>{{ proyecto.nombre }}</td>
        </tr>
        <tr>
            <th>Slug:</th>
            <td>{{ proyecto.slug }}</td>
        </tr>
        <tr>
            <th>Descripción:</th>
            <td>{{ proyecto.descripcion }}</td>
        </tr>
        <tr>
            <th>Fecha de Inicio:</th>
            <td>{{ proyecto.fecha_inicio }}</td>
        </tr>
        <tr>
            <th>Fecha de Fin:</th>
            <td>{{ proyecto.fecha_fin }}</td>
        </tr>
    </table>
</div>
</div>
</div>
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Acta {{ proyecto.nombre }}</h2>
</div>
<div class="card-body">
    <table class="table table-striped">
        <tr>
            <th>Alcance:</th>
            <td>{{ proyecto.acta_constitucion.alcance | slice:"100" }}</td>
        </tr>
        <tr>
            <th>Objetivos:</th>
            <td>{{ proyecto.acta_constitucion.objetivos | slice:"100" }}</td>
        </tr>
        <tr>
            <th>Entregables</th>
            <td>{{ proyecto.acta_constitucion.entregables | slice:"100" }}</td>
        </tr>
        <tr>
            <th>Justificacion:</th>
            <td>{{ proyecto.acta_constitucion.justificacion | slice:"100" }}</td>
        </tr>
         <tr>
            <th>Usuario:</th>
            <td>{{ proyecto.acta_constitucion.usuario | slice:"100" }}</td>
        </tr>
    </table>
</div>
</div>
</div>
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Interesados</h2>
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr class="table-primary">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
        {% for interesado in proyecto.interesados.all %}
        <tr>
            <td>{{ interesado.nombre }}</td>
            <td>{{ interesado.apellido }}</td>
            <td>{{ interesado.email }}</td>
            <td>{{ interesado.rol }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Comunicaciones</h2>
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr class="table-primary">
            <th>Observaciones</th>
            <th>Fecha</th>
            <th>Interesado</th>
        </tr>
        {% for comunicacion in proyecto.comunicaciones.all %}
        <tr>
            <td>{{ comunicacion.observaciones }}</td>
            <td>{{ comunicacion.fecha }}</td>
            <td>{{ comunicacion.interesado.nombre }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Riesgos</h2>
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr class="table-primary">
            <th>Descripcion</th>
            <th>Probabilidad</th>
            <th>Impacto</th>
            <th>Estrategia de Mitigacion</th>
        </tr>
        {% for riesgo in proyecto.riesgos.all %}
        <tr>
            <td>{{ riesgo.descripcion }}</td>
            <td>{{ riesgo.probabilidad }}</td>
            <td>{{ riesgo.impacto }}</td>
            <td>{{ riesgo.estrategia_mitigacion }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2> Alcances</h2>
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr class="table-primary">
            <th>Descripcion</th>
            <th>Metas</th>
            <th>Tiempo</th>
        </tr>
        {% for alcance in proyecto.alcances.all %}
        <tr>
            <td>{{ alcance.descripcion }}</td>
            <td>{{ alcance.metas }}</td>
            <td>{{ alcance.tiempo }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
{% endblock content %}