{% extends 'lineabase/base.html' %}
{% block content %}
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2>Cronograma de:  {{ cronograma.proyecto.nombre }}</h2>
    <a class="btn btn-primary" href="{% url 'gantt_chart' cronograma.slug %}">Ver diagrama de GANTT</a>   
    <a class="btn btn-success" href="{% url 'bar_chart' cronograma.slug %}" target="_blank">Diagrama de barras</a>       
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr>
            <th>Costo Estimado:</th>
            <td>{{ cronograma.costoEstimado }}</td>
        </tr>
        <tr>
            <th>Costo Total</th>
            <td>{{ cronograma.costoRealTotal }}</td>
        </tr>
        <tr>
            <th>Diferencia de Costo:</th>
            <td>{{ cronograma.diferenciaCostoProyecto }}</td>
        </tr>
        <tr>
            <th>Diferencia de Días:</th>
            <td>{{ cronograma.diferenciaDiasTotal }}</td>
        </tr>
        <tr>
            <th>Fecha de Finalización:</th>
            <td>{{ cronograma.fechaFinProyecto }}</td>
        </tr>
        <tr>
            <th>Fecha de Finalización Real:</th>
            <td>{{ cronograma.fechaFinRealProyecto }}</td>
        </tr>
        <tr>
            <th>Fecha de Inicio:</th>
            <td>{{ cronograma.fechaInicioProyecto }}</td>
        </tr>
        <tr>
            <th>Fecha de Inicio Real:</th>
            <td>{{ cronograma.fechaInicioRealProyecto }}</td>
        </tr>
        <tr>
            <th>Observaciones:</th>
            <td>{{ cronograma.observaciones }}</td>
        </tr>
        <tr>
            <th>Porcentaje Completado:</th>
            <td>{{ cronograma.porcentajeCompletado }}</td>
        </tr>
    </table>
</div>
</div>
</div>
<div class="container">
<div class="title mt-3">
<div class="card-title">
    <h2>Lista de actividades</h2>
</div>
<div class="card-body">
    <table class="table table-striped" >
        <tr class="table-primary">
            <th>Descripción</th>
            <th>Actividad Anterior</th>
            <th>Es Hito</th>
            <th>Estado</th>
            <th>Costo Planificado</th>
            <th>Costo Real</th>
            <th>Diferencia de Costo</th>
            <th>Fecha de Inicio Estimada</th>
            <th>Fecha de Fin Estimada</th>
            <th>Fecha de Inicio Real</th>
            <th>Fecha de Fin Real</th>
            <th>Diferencia de Días</th>
            <th>Porcentaje Completado</th>
            <th>Total Recursos</th>
            <th>Recursos</th>
            <th>Presupuesto</th>
        </tr>
         {% for actividad in cronograma.listaActividades %}
        <tr>
            <td>{{ actividad.descripcion }}</td>
            <td>{% if actividad.actividadAnterior %}{{ actividad.actividadAnterior.id }}{% else %}N/A{% endif %}</td>
            <td>{{ actividad.esHito }}</td>
            <td>{{ actividad.Estado }}</td>
            <td>{{ actividad.costoPlanificado }}</td>
            <td>{{ actividad.costoReal }}</td>
            <td class="text-danger">{{ actividad.diferenciaCosto }}</td>
            <td>{{ actividad.fechaInicio }}</td>
            <td>{{ actividad.fechaFin }}</td>
            <td>{{ actividad.fechaInicioReal }}</td>
            <td>{{ actividad.fechaFinReal }}</td>
            <td class="text-danger">{{ actividad.diferenciaTiempo }}</td>                
            <td>{{ actividad.porcentajeCompletado }}</td>
            <td class="text-success">{{ actividad.totalRecursosActividad }}</td>
            <td>
                {% for recurso in actividad.recursos.all %}
                    <p>{{ recurso.nombre }} ({{ recurso.tipo }}) - Costo Total: {{ recurso.costoTotal }}</p>
                {% endfor %}
            </td>
            <td>
                <p>Monto: {{ actividad.presupuesto.montoTotal }}</p>
            </td>
            
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>

{% endblock content %}