{% extends 'base.html' %}
{% block content %}
    <h1>Bienvenido al Sistema de Gestión de Proyectos</h1>
    <h2> Proyectos </h2>
    <div class="container">
           <table class="table table-striped" >
        <tr class="table-primary">
            <th>Nombre del Proyecto</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        {% for proyecto in proyecto_list %}
        <tr>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.descripcion }}</td>
            <td>{{  proyecto.get_estado_display  }}</td>
            <td><a href="{% url 'proyecto_view' proyecto.slug %}">Ver Detalles</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>

{% endblock content %}
   
