<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Interesado {{ interesado.nombre }} {{ interesado.apellido }}
        <p>
            Email: {{ interesado.email }}
        </p>
        <p>
            Asociado al proyecto: {{ interesado.proyecto.nombre }}
        </p>
        <p>
            Fecha de creación: {{ interesado.rol }}
        </p>
    </h1>
</body>
</html>